


.float {
	position: absolute;
	/*width: 10%;
	height: 90%;*/

}

#left-panel {
	top: 10px;
	bottom: 10px;
	left: 10px;
}

#right-panel {
	top: 10px;
	bottom: 10px;
	left: 10px;
}

#top-panel {
	top: 10px;
	bottom: 10px;
	left: 10px;
}

#bottom-panel {
	top: 10px;
	bottom: 10px;
	left: 10px;
}

body:-moz-full-screen {
	background-color: pink;
}

body:-webkit-full-screen {
	background-color: pink;
}

body:fullscreen {
	background-color: pink;
}


html {
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
}

#fullscreen-button {
	/*background-color: pink;*/
	position: absolute;
	width: 200px;
	height: 40px;
	top: 10px;
	left: 10px;
}

#fullscreen-button:-webkit-full-screen {
	width: 50px;
}

button:-moz-full-screen {
  background-color: pink;
}

button:-webkit-full-screen {
  background-color: pink;
}

button:fullscreen {
  background-color: pink;
}
